In [1]:
!pip install pandas matplotlib seaborn

Requirement already satisfied: pandas in c:\users\lenovo\onedrive\desktop\da offline\project\hr-analytics-dashboard\.venv\lib\site-packages (3.0.0)
Collecting matplotlib
  Using cached matplotlib-3.10.8-cp312-cp312-win_amd64.whl.metadata (52 kB)
Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\onedrive\desktop\da offline\project\hr-analytics-dashboard\.venv\lib\site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\onedrive\desktop\da offline\project\hr-analytics-dashboard\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\lenovo\onedrive\desktop\da offline\project\hr-analytics-dashboard\.venv\lib\site-packages (from pandas) (2025.3)
Collecting contourpy>=1.0.1 (from matplotlib)
  Using cached contourpy-1.3.3-cp312-cp312-win_amd64.whl.metadata (5.5 kB)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo\onedrive\desktop\da offline\project\hr-analytics-dashboard\.venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lenovo\onedrive\desktop\da offline\project\hr-analytics-dashboard\.venv\lib\site-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lenovo\onedrive\desktop\da offline\project\hr-analytics-dashboard\.venv\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\lenovo\onedrive\desktop\da offline\project\hr-analytics-dashboard\.venv\lib\site-packages (from matplotlib) (26.0)
Requirement already satisfied: pillow>=8 in c:\users\lenovo\onedrive\desktop\da offline\project\hr-analytics-dashboard\.venv\lib\site-packages (from matplotlib) (12.1.0)
Requirement already satisfied: pyparsing>=3 in c:\users\lenovo\onedrive\desktop\da offline\project\hr-analytics-dashboard\.venv\lib\site-packages (from matplotlib) (3.3.2)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\onedrive\desktop\da offline\project\hr-analytics-dashboard\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached matplotlib-3.10.8-cp312-cp312-win_amd64.whl (8.1 MB)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Using cached contourpy-1.3.3-cp312-cp312-win_amd64.whl (226 kB)
Installing collected packages: contourpy, matplotlib, seaborn

   ---------------------------------------- 0/3 [contourpy]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   ------------- -------------------------- 1/3 [matplotlib]
   -------------------------- ------------- 2/3 [seaborn]
   -------------------------- ------------- 2/3 [seaborn]
   -------------------------- ------------- 2/3 [seaborn]
   -------------------------- ------------- 2/3 [seaborn]
   -------------------------- ------------- 2/3 [seaborn]
   -------------------------- ------------- 2/3 [seaborn]
   -------------------------- ------------- 2/3 [seaborn]
   ---------------------------------------- 3/3 [seaborn]

Successfully installed contourpy-1.3.3 matplotlib-3.10.8 seaborn-0.13.2

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('HR Analytics Dataset.csv')

In [2]:
df.head()

,Attrition,Business Travel,CF_age band,CF_attrition label,Department,Education Field,emp no,Employee Number,Gender,Job Role,...,Performance Rating,Relationship Satisfaction,Standard Hours,Stock Option Level,Total Working Years,Work Life Balance,Years At Company,Years In Current Role,Years Since Last Promotion,Years With Curr Manager
0,Yes,Travel_Rarely,35 - 44,Ex-Employees,Sales,Life Sciences,STAFF-1,1,Female,Sales Executive,...,3,1,80,0,8,1,6,4,0,5
1,No,Travel_Frequently,45 - 54,Current Employees,R&D,Life Sciences,STAFF-2,2,Male,Research Scientist,...,4,4,80,1,10,3,10,7,1,7
2,Yes,Travel_Rarely,35 - 44,Ex-Employees,R&D,Other,STAFF-4,4,Male,Laboratory Technician,...,3,2,80,0,7,3,0,0,0,0
3,No,Travel_Frequently,25 - 34,Current Employees,R&D,Life Sciences,STAFF-5,5,Female,Research Scientist,...,3,3,80,0,8,3,8,7,3,0
4,No,Travel_Rarely,25 - 34,Current Employees,R&D,Medical,STAFF-7,7,Male,Laboratory Technician,...,3,4,80,1,6,3,2,2,2,2

In [3]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 41 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Attrition                   1470 non-null   str
 1   Business Travel             1470 non-null   str
 2   CF_age band                 1470 non-null   str
 3   CF_attrition label          1470 non-null   str
 4   Department                  1470 non-null   str
 5   Education Field             1470 non-null   str
 6   emp no                      1470 non-null   str
 7   Employee Number             1470 non-null   int64
 8   Gender                      1470 non-null   str
 9   Job Role                    1470 non-null   str
 10  Marital Status              1470 non-null   str
 11  Over Time                   1470 non-null   str
 12  Over18                      1470 non-null   str
 13  Training Times Last Year    1470 non-null   int64
 14  -2                          1470 non-null   int64
 15  0                           1470 non-null   int64
 16  Age                         1470 non-null   int64
 17  CF_current Employee         1470 non-null   int64
 18  Daily Rate                  1470 non-null   int64
 19  Distance From Home          1470 non-null   int64
 20  Education                   1470 non-null   str
 21  Employee Count              1470 non-null   int64
 22  Environment Satisfaction    1470 non-null   int64
 23  Hourly Rate                 1470 non-null   int64
 24  Job Involvement             1470 non-null   int64
 25  Job Level                   1470 non-null   int64
 26  Job Satisfaction            1470 non-null   int64
 27  Monthly Income              1470 non-null   int64
 28  Monthly Rate                1470 non-null   int64
 29  Num Companies Worked        1470 non-null   int64
 30  Percent Salary Hike         1470 non-null   int64
 31  Performance Rating          1470 non-null   int64
 32  Relationship Satisfaction   1470 non-null   int64
 33  Standard Hours              1470 non-null   int64
 34  Stock Option Level          1470 non-null   int64
 35  Total Working Years         1470 non-null   int64
 36  Work Life Balance           1470 non-null   int64
 37  Years At Company            1470 non-null   int64
 38  Years In Current Role       1470 non-null   int64
 39  Years Since Last Promotion  1470 non-null   int64
 40  Years With Curr Manager     1470 non-null   int64
dtypes: int64(28), str(13)
memory usage: 471.0 KB

In [4]:
df.describe(include='all')

,Attrition,Business Travel,CF_age band,CF_attrition label,Department,Education Field,emp no,Employee Number,Gender,Job Role,...,Performance Rating,Relationship Satisfaction,Standard Hours,Stock Option Level,Total Working Years,Work Life Balance,Years At Company,Years In Current Role,Years Since Last Promotion,Years With Curr Manager
count,1470,1470,1470,1470,1470,1470,1470,1470.000000,1470,1470,...,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
unique,2,3,5,2,3,6,1470,NaN,2,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,No,Travel_Rarely,25 - 34,Current Employees,R&D,Life Sciences,STAFF-1,NaN,Male,Sales Executive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1233,1043,554,1233,961,606,1,NaN,882,326,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1024.865306,NaN,NaN,...,3.153741,2.712245,80.0,0.793878,11.279592,2.761224,7.008163,4.229252,2.187755,4.123129
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,602.024335,NaN,NaN,...,0.360824,1.081209,0.0,0.852077,7.780782,0.706476,6.126525,3.623137,3.222430,3.568136
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,...,3.000000,1.000000,80.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,491.250000,NaN,NaN,...,3.000000,2.000000,80.0,0.000000,6.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1020.500000,NaN,NaN,...,3.000000,3.000000,80.0,1.000000,10.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1555.750000,NaN,NaN,...,3.000000,4.000000,80.0,1.000000,15.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2068.000000,NaN,NaN,...,4.000000,4.000000,80.0,3.000000,40.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [5]:
df.isnull().sum()

Attrition                     0
Business Travel               0
CF_age band                   0
CF_attrition label            0
Department                    0
Education Field               0
emp no                        0
Employee Number               0
Gender                        0
Job Role                      0
Marital Status                0
Over Time                     0
Over18                        0
Training Times Last Year      0
-2                            0
0                             0
Age                           0
CF_current Employee           0
Daily Rate                    0
Distance From Home            0
Education                     0
Employee Count                0
Environment Satisfaction      0
Hourly Rate                   0
Job Involvement               0
Job Level                     0
Job Satisfaction              0
Monthly Income                0
Monthly Rate                  0
Num Companies Worked          0
Percent Salary Hike           0
Performance Rating            0
Relationship Satisfaction     0
Standard Hours                0
Stock Option Level            0
Total Working Years           0
Work Life Balance             0
Years At Company              0
Years In Current Role         0
Years Since Last Promotion    0
Years With Curr Manager       0
dtype: int64

In [8]:
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns

for col in numeric_cols:
    df[col] = df[col].fillna(df[col].median())

In [6]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df.columns = [
    'attrition',
    'business_travel',
    'cf_age_band',
    'cf_attrition_label',
    'department',
    'education_field',
    'emp_no',
    'employee_number',
    'gender',
    'job_role',
    'marital_status',
    'over_time',
    'over18',
    'training_times_last_year',
    '-2',
    '0',
    'age',
    'cf_current_employee',
    'daily_rate',
    'distance_from_home',
    'education',
    'employee_count',
    'environment_satisfaction',
    'hourly_rate',
    'job_involvement',
    'job_level',
    'job_satisfaction',
    'monthly_income',
    'monthly_rate',
    'num_companies_worked',
    'percent_salary_hike',
    'performance_rating',
    'relationship_satisfaction',
    'standard_hours',
    'stock_option_level',
    'total_working_years',
    'work_life_balance',
    'years_at_company',
    'years_in_current_role',
    'years_since_last_promotion',
    'years_with_curr_manager'
]

In [7]:
df.columns

Index(['attrition', 'business_travel', 'cf_age_band', 'cf_attrition_label',
       'department', 'education_field', 'emp_no', 'employee_number', 'gender',
       'job_role', 'marital_status', 'over_time', 'over18',
       'training_times_last_year', '-2', '0', 'age', 'cf_current_employee',
       'daily_rate', 'distance_from_home', 'education', 'employee_count',
       'environment_satisfaction', 'hourly_rate', 'job_involvement',
       'job_level', 'job_satisfaction', 'monthly_income', 'monthly_rate',
       'num_companies_worked', 'percent_salary_hike', 'performance_rating',
       'relationship_satisfaction', 'standard_hours', 'stock_option_level',
       'total_working_years', 'work_life_balance', 'years_at_company',
       'years_in_current_role', 'years_since_last_promotion',
       'years_with_curr_manager'],
      dtype='str')

In [9]:
categorical_cols = df.select_dtypes(include=['object']).columns

for col in categorical_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_18692\3738049478.py:1: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  categorical_cols = df.select_dtypes(include=['object']).columns

In [10]:
df.isnull().sum()

attrition                     0
business_travel               0
cf_age_band                   0
cf_attrition_label            0
department                    0
education_field               0
emp_no                        0
employee_number               0
gender                        0
job_role                      0
marital_status                0
over_time                     0
over18                        0
training_times_last_year      0
-2                            0
0                             0
age                           0
cf_current_employee           0
daily_rate                    0
distance_from_home            0
education                     0
employee_count                0
environment_satisfaction      0
hourly_rate                   0
job_involvement               0
job_level                     0
job_satisfaction              0
monthly_income                0
monthly_rate                  0
num_companies_worked          0
percent_salary_hike           0
performance_rating            0
relationship_satisfaction     0
standard_hours                0
stock_option_level            0
total_working_years           0
work_life_balance             0
years_at_company              0
years_in_current_role         0
years_since_last_promotion    0
years_with_curr_manager       0
dtype: int64

In [11]:
labels = ['Young Adult', 'Adult', 'Middle Aged', 'Senior']

df['age_band'] = pd.cut(
    df['age'],
    bins=[17, 30, 45, 60, 100],
    labels=labels
)

df[['age', 'age_band']].head()

   age     age_band
0   41        Adult
1   49  Middle Aged
2   37        Adult
3   33        Adult
4   27  Young Adult

In [12]:
df['attrition_flag'] = df['attrition'].map({'Yes': 1, 'No': 0})

In [13]:
df['overtime_flag'] = df['over_time'].map({'Yes': 1, 'No': 0})

In [14]:
df['current_employee'] = df['attrition'].apply(
    lambda x: 'Inactive' if x == 'Yes' else 'Active'
)

In [15]:
total_employees = df.shape[0]
avg_age = round(df['age'].mean(), 2)
avg_salary = round(df['monthly_income'].mean(), 2)
attrition_rate = round(df['attrition_flag'].mean() * 100, 2)

print("Total Employees:", total_employees)
print("Average Age:", avg_age)
print("Average Salary:", avg_salary)
print("Attrition Rate (%):", attrition_rate)

Total Employees: 1470
Average Age: 36.92
Average Salary: 6502.93
Attrition Rate (%): 16.12

In [16]:
dept_count = df.groupby('department')['employee_number'].count().sort_values(ascending=False)
dept_count

department
R&D      961
Sales    446
HR        63
Name: employee_number, dtype: int64

In [17]:
gender_dist = df['gender'].value_counts(normalize=True) * 100
gender_dist

gender
Male      60.0
Female    40.0
Name: proportion, dtype: float64

In [18]:
df.to_csv("hr_analytics_cleaned.csv", index=False)

In [24]:
## MySQL Integration

In [21]:
pip install pandas sqlalchemy pymysql

Requirement already satisfied: pandas in c:\users\lenovo\onedrive\desktop\da offline\project\hr-analytics-dashboard\.venv\lib\site-packages (3.0.0)
Collecting sqlalchemy
  Using cached sqlalchemy-2.0.46-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting pymysql
  Using cached pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\onedrive\desktop\da offline\project\hr-analytics-dashboard\.venv\lib\site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\onedrive\desktop\da offline\project\hr-analytics-dashboard\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\lenovo\onedrive\desktop\da offline\project\hr-analytics-dashboard\.venv\lib\site-packages (from pandas) (2025.3)
Collecting greenlet>=1 (from sqlalchemy)
  Using cached greenlet-3.3.1-cp312-cp312-win_amd64.whl.metadata (3.8 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Using cached typing_extensions-4.15.0-py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\onedrive\desktop\da offline\project\hr-analytics-dashboard\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached sqlalchemy-2.0.46-cp312-cp312-win_amd64.whl (2.1 MB)
Using cached pymysql-1.1.2-py3-none-any.whl (45 kB)
Using cached greenlet-3.3.1-cp312-cp312-win_amd64.whl (227 kB)
Using cached typing_extensions-4.15.0-py3-none-any.whl (44 kB)
Installing collected packages: typing-extensions, pymysql, greenlet, sqlalchemy

   ---------- ----------------------------- 1/4 [pymysql]
   ---------- ----------------------------- 1/4 [pymysql]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ------------------------------ --------- 3/4 [sqlalchemy]
   ---------------------------------------- 4/4 [sqlalchemy]

Successfully installed greenlet-3.3.1 pymysql-1.1.2 sqlalchemy-2.0.46 typing-extensions-4.15.0
Note: you may need to restart the kernel to use updated packages.

In [23]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus

# Load CSV
df = pd.read_csv("HR Analytics Dataset.csv")

# Clean column names (IMPORTANT)
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')

# Encode password
raw_password = "99@Appu4830"
password = quote_plus(raw_password)

# MySQL connection
engine = create_engine(
    f"mysql+pymysql://root:{password}@localhost:3306/hr_analytics"
)

# Write to MySQL
df.to_sql("hr_analytics", engine, if_exists="replace", index=False)

# Verify
print(pd.read_sql("SELECT * FROM hr_analytics LIMIT 5;", engine))

  attrition    business_travel cf_age_band cf_attrition_label department  \
0       Yes      Travel_Rarely     35 - 44       Ex-Employees      Sales
1        No  Travel_Frequently     45 - 54  Current Employees        R&D
2       Yes      Travel_Rarely     35 - 44       Ex-Employees        R&D
3        No  Travel_Frequently     25 - 34  Current Employees        R&D
4        No      Travel_Rarely     25 - 34  Current Employees        R&D

  education_field   emp_no  employee_number  gender               job_role  \
0   Life Sciences  STAFF-1                1  Female        Sales Executive
1   Life Sciences  STAFF-2                2    Male     Research Scientist
2           Other  STAFF-4                4    Male  Laboratory Technician
3   Life Sciences  STAFF-5                5  Female     Research Scientist
4         Medical  STAFF-7                7    Male  Laboratory Technician

   ... performance_rating relationship_satisfaction standard_hours  \
0  ...                  3                         1             80
1  ...                  4                         4             80
2  ...                  3                         2             80
3  ...                  3                         3             80
4  ...                  3                         4             80

   stock_option_level  total_working_years  work_life_balance  \
0                   0                    8                  1
1                   1                   10                  3
2                   0                    7                  3
3                   0                    8                  3
4                   1                    6                  3

   years_at_company  years_in_current_role  years_since_last_promotion  \
0                 6                      4                           0
1                10                      7                           1
2                 0                      0                           0
3                 8                      7                           3
4                 2                      2                           2

   years_with_curr_manager
0                        5
1                        7
2                        0
3                        0
4                        2

[5 rows x 41 columns]